<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
        <add key="Nexus" value="https://nexus.viavarejo.com.br/repository/nuget-group/" />
        <add key="NexusHosted" value="https://nexus.viavarejo.com.br/repository/nuget-hosted" />
        <add key="NexusViaPagCore" value="https://nexus.viavarejo.com.br/repository/ViaPag.Backend.Core/" />
    </packageSources>
</configuration>